:root {
    --font-heading: "PT Sans", sans-serif;
    --font-character: "Source Sans Pro", sans-serif;
    --primary-color: #b80257;
    --second-color: #783df0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/source-sans-pro.regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/source-sans-pro.bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: var(--font-character);
}

button {
    border: none;
    background-color: transparent;
}

a,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: var(--font-character);
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: auto;
}

.wrapper {
    padding-top: 40px;
    position: relative;
}

.wrapper__background {
    display: block;
    width: 100%;
    height: 497px;
    background-image: url(../img/banner-7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper__background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    line-height: 48px;
}

.logo__main--thumb {
    display: block;
    line-height: 48px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 68px;
}

.header__nav > li {
    position: relative;
}

.header__nav > li:hover .header__subnav {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.nav__item {
    display: inline-block;
    padding: 0 20px;
    line-height: 48px;
    font-weight: bold;
    font-family: var(--font-heading);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.1px;
}

.header__btn {
    display: flex;
    gap: 8px;
}

.header__btn--action,
.header__btn--action .header__btn--search {
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.header__btn--search {
    position: relative;
}

.search--action {
    position: absolute;
    z-index: 998;
    top: 100%;
    right: 0px;
    width: 300px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0);
    transform-origin: 100% 2%;
    transition: all 0.4s ease-in-out;
}

/* .search-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
} */

#check-box:checked ~ .search--action {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/* .header__btn--action:has(input[type="checkbox"]:checked) .search-overlay {
    opacity: 1;
    visibility: visible;
} */

.search-input {
    display: inline-block;
    flex: 1;
    height: 58px;
    margin-left: 9px;
    padding-left: 9px;
    color: #2a1b1a;
    border: 1px solid #ccc;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-input__btn {
    display: inline-block;
    font-size: 2rem;
    margin-right: 9px;
    padding: 0 20px;
    color: #fff;
    line-height: 58px;
    background-color: var(--primary-color);
}

.header__subnav {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0);
    transform-origin: 100% 2%;
    transition: all 0.4s ease-in-out;
}

.subnav__item {
    display: block;
    min-width: 220px;
    padding: 0 20px;
    line-height: 45px;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #fff;
    color: #0009;
    transition: all 0.5s ease;
}

.header__subnav > li:hover .subnav__item {
    background-color: var(--primary-color);
    padding-left: 29px;
    color: #fff;
}

.header__subnav li + li {
    border-top: 1px solid #eee;
}

.wrapper__path {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.wrapper__path--title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.wrapper__breadcrumb {
    display: flex;
    gap: 6px;
    color: #fff;
}

.wrapper__breadcrumb--link {
    text-decoration: none;
    transition: color 0.5s ease;
}

.wrapper__breadcrumb--link:hover {
    color: var(--second-color);
}

.wrapper__breadcrumb > li + li::before {
    content: "/";
    margin-right: 6px;
}

/* Content */
.wrapper__content {
    margin-top: 519px;
}

.content__contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact__left {
    aspect-ratio: 670 / 601;
}

.contact__left--thumb {
    width: 100%;
    height: 100%;
}

.contact__right {
    position: relative;
    flex: 1;
    padding: 60px 70px;
    aspect-ratio: 470 / 601;
    background-image: url(../img/town-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__right::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(119, 61, 238, 85%);
}

.contact__right--title {
    position: relative;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 90px;
}

.contact__right--title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #f2b604;
    left: 0;
    top: calc(100% + 18px);
}

.contact__info {
    display: flex;
    gap: 70px;
    position: relative;
    margin-top: 60px;
    color: #fff;
}

.contact__info > i {
    font-size: 4rem;
    /* padding: 8px; */
}

.contact__text {
    font-size: 2.4rem;
    font-weight: 500;
}

/* FORM */
.form {
    --spacing: 30px;
    --column: 2;
    margin-top: 100px;
    display: flex;
    margin-left: calc(-1 * var(--spacing));
    flex-wrap: wrap;
    row-gap: var(--spacing);
}

.form__info {
    flex: 1;
    min-width: calc(100% / var(--column) - var(--spacing));
    margin-left: 30px;
}

.form__input {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    color: #000000b3;
    border: 1px solid #f3f0fa;
    background-color: #f3f0fa;
    transition: all 0.4s ease-in-out;
}

.form__input:focus,
.form__info--message:focus {
    outline: none;
    border: 1px solid var(--second-color);
}

.form__input:focus::placeholder,
.form__info--message:focus::placeholder {
    opacity: 0;
}

.form__info--message {
    width: 100%;
    height: 400px;
    max-height: 400px;
    padding: 30px;
    border: none;
    background-color: #f3f0fa;
    transition: all 0.4s ease;
}

.form__btn {
    margin-top: 30px;
}

.form__btn--active {
    min-width: 150px;
    height: 45px;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--second-color);
    transition: background-color 0.5s ease;
}

.form__btn--active:hover {
    background-color: var(--primary-color);
}

/* Error */
.map__iframe {
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

.wrapper__error {
    background-color: #e8eaed;
    margin-top: 100px;
    aspect-ratio: 1374 / 500;
}

.container__error {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.error__img {
    align-self: flex-start;
    width: 48px;
    height: 48px;
}

.wrapper__error--title {
    margin: 5px 0 20px;
    font-size: 2.4rem;
    color: #3c4043;
}

.wrapper__error--descrip {
    font-size: 1.2rem;
    color: #3c4043;
}

/* FOOTER */
.wrapper__footer {
    margin-top: 100px;
    padding: 80px 0 160px;
    min-height: 80px;
    background-color: #151515;
}

.footer__inner {
    display: flex;
    gap: 30px;
}

.footer__left {
    width: 270px;
}

.footer__left--descrip {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 22px;
    color: #fff9;
}

.footer__img {
    display: flex;
    margin-top: 30px;
    gap: 22px;
}

.footer__right {
    display: flex;
    gap: 30px;
}

.footer__info {
    min-width: 170px;
}

.header__info--title {
    font-size: 2rem;
    color: #fff;
    line-height: 33px;
}

.header__menu {
    display: inline-block;
    margin-top: 18px;
}

.header__item {
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    color: #fff9;
    transition: all 0.3s ease;
}

.header__menu li:hover .header__item {
    color: var(--primary-color);
}

.footer__info--descrip {
    color: #fff9;
    margin-top: 18px;
    line-height: 24px;
}

.footer__form {
    /* display: block; */
    padding: 0;
    background-color: transparent;
}

.footer__input {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background: #272727;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0 20px;
    color: #fff9;
}

.footer__input:focus::placeholder {
    opacity: 0;
}

.footer__btn {
    position: relative;
    margin-top: 10px;
    min-width: 95px;
    line-height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    overflow: hidden;
}

.footer__btn--active {
    color: white;
    position: relative;
    z-index: 1;
}

.footer__btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    width: 0;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.footer__btn:hover::before {
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.footer__btn:hover .footer__btn--active {
    color: var(--primary-color);
}
