* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 1199.98px) {
    .container {
        width: 970px;
    }

    /* Header */

    .header-wrapper .inner {
        justify-content: space-between;
    }

    .nav-item {
        padding: 0 15px;
    }

    /* Content */

    .courses-list {
        --column: 2;
    }

    .btn-pagi:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    /* HEADER */

    .header-wrapper .inner {
        justify-content: space-between;
    }

    .nav-list {
        display: none;
    }

    .action-drawer {
        display: block;
    }

    .nav-drawer {
        display: inline-block;
    }

    /* Content */

    .sidebar {
        display: none;
    }

    .sidebar-responsive {
        display: block;
    }

    /* Footer */
    .footer-wrapper .inner {
        /* justify-content: space-between; */
        flex-wrap: wrap;
        row-gap: 60px;
    }

    .info-footer {
        width: calc(var(--col-25) - 30px);
    }

    .info-footer:first-of-type,
    .info-footer:last-of-type {
        width: calc(var(--col-50) - 30px);
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 100%;
        max-width: 720px;
        padding-inline: 15px;
        margin: 0 auto;
    }
}

@media (max-width: 600.98px) {
    /* Header */
    .wrapper-background {
        height: 387px;
    }
}

@media (max-width: 575.98px) {
    .sidebar-responsive .form-sidebar {
        width: 100%;
    }

    .courses-list {
        --column: 1;
    }

    .content-sidebar__responsive {
        flex-direction: column;
    }

    .sidebar-responsive .content-sidebar {
        width: 100%;
    }
}
