* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.title-heading {
    margin-top: 20px;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 4px;
    color: inherit;
}
